<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartas de memoria</title>
    <link rel="stylesheet" type="text/css" href="../Styles/Style_card_game.css">
</head>

<body>
    <a href="Home.html"><button class="reset2"><h3>Regresar al menu</h3></button></a>
    <div class="container">
        <h2>Cartas de memoria</h2>
        <div class="game">

        </div>
        <button class="reset" onclick="window.location.reload();">Reiniciar Juego</button>

        <div id="winModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>¡Felicidades!</p>
                <p>¡Has ganado!</p>
            </div>
        </div>
    </div>
    <!-- Elemento de audio con música de fondo -->
    <audio id="background-music" src="bgMusic.mp3" autoplay loop>
        Tu navegador no soporta el elemento de audio.
    </audio>
    <script type="text/javascript" src="../FuncionesJs/cards.js"></script>
</body>

</html>