<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juegos de mesa</title>
    <link rel="stylesheet" href="../Styles/styles.css" />
</head>

<body>

    <section class="banner">
        <div class="content-banner">
            <h2>DESAFIOS DE LA DSI</h2>
            <a href="#">Grupo 9</a>
        </div>
    </section>

    <main class="main-content">
        <section class="container container-features">
            <div class="card-feature">
                <i class="fa-solid fa-plane-up"></i>
                <div class="feature-content">
                    <span>Solidaridad</span>
                    <p>Compromiso con el bienestar de los demás y apoyo mutuo</p>
                </div>
            </div>
            <div class="card-feature">
                <i class="fa-solid fa-wallet"></i>
                <div class="feature-content">
                    <span>Justicia</span>
                    <p>Equidad en el trato y distribución de recursos y derechos.</p>
                </div>
            </div>
            <div class="card-feature">
                <i class="fa-solid fa-gift"></i>
                <div class="feature-content">
                    <span>Amor</span>
                    <p>Actitud de entrega y cuidado hacia los demás, promoviendo el bien común.</p>
                </div>
            </div>
            <div class="card-feature">
                <i class="fa-solid fa-headset"></i>
                <div class="feature-content">
                    <span>Dignidad</span>
                    <p>Valor intrínseco de cada persona, independientemente de su condición.</p>
                </div>
            </div>
        </section>

        <section class="container top-categories">
            <h1 class="heading-1">Juegos</h1>
            <div class="container-categories">
                <div class="card-category category-moca">
                    <p>CARTAS</p>
                    <a href="Cards_memory.html" class="text-decoration-none">Ver más</a>

                </div>
                <div class="card-category category-expreso">
                    <p>AHORCADO</p>
                    <a href="Ahorcado.html" class="text-decoration-none">Ver más</a>

                </div>
                <div class="card-category category-capuchino">
                    <p>FICHA INFORMATIVA</p>
                    <a href="Information.html" class="text-decoration-none">Ver más</a>

                </div>
            </div>
        </section>


        <section class="gallery">
            <img src="../Images/img2.jpg" alt="Gallery Img1" class="gallery-img-1" /><img src="../Images/img3.jpeg"
                alt="Gallery Img2" class="gallery-img-2" /><img src="../Images/img4.jpg" alt="Gallery Img3"
                class="gallery-img-3" /><img src="../Images/img5.jpg" alt="Gallery Img4" class="gallery-img-4" /><img
                src="../Images/img6.jpg" alt="Gallery Img5" class="gallery-img-5" />
        </section>


        <section class="container blogs">
            <h1 class="heading-1">Últimos Blogs</h1>

            <div class="container-blogs">
                <div class="card-blog">
                    <div class="container-img">
                        <img src="../Images/img11.jpg" alt="Imagen Blog 1" />
                        <div class="button-group-blog">
                            <span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span>
                                <i class="fa-solid fa-link"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-blog">
                        <h3>Lorem, ipsum dolor sit</h3>
                        <span>29 Noviembre 2022</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iste, molestiae! Ratione et, dolore ipsum
                            quaerat iure illum reprehenderit non maxime amet dolor
                            voluptas facilis corporis, consequatur eius est sunt
                            suscipit?
                        </p>
                        <div class="btn-read-more">Leer más</div>
                    </div>
                </div>
                <div class="card-blog">
                    <div class="container-img">
                        <img src="../Images/imgg.jpg" alt="Imagen Blog 2" />
                        <div class="button-group-blog">
                            <span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span>
                                <i class="fa-solid fa-link"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-blog">
                        <h3>Lorem, ipsum dolor sit</h3>
                        <span>29 Noviembre 2022</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iste, molestiae! Ratione et, dolore ipsum
                            quaerat iure illum reprehenderit non maxime amet dolor
                            voluptas facilis corporis, consequatur eius est sunt
                            suscipit?
                        </p>
                        <div class="btn-read-more">Leer más</div>
                    </div>
                </div>
                <div class="card-blog">
                    <div class="container-img">
                        <img src="../Images/img13.jpg" alt="Imagen Blog 3" />
                        <div class="button-group-blog">
                            <span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span>
                                <i class="fa-solid fa-link"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-blog">
                        <h3>Lorem, ipsum dolor sit</h3>
                        <span>29 Noviembre 2022</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Iste, molestiae! Ratione et, dolore ipsum
                            quaerat iure illum reprehenderit non maxime amet dolor
                            voluptas facilis corporis, consequatur eius est sunt
                            suscipit?
                        </p>
                        <div class="btn-read-more">Leer más</div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">



        <div class="copyright">
            <p>
                Desarrollado por Jeremy Castro y Veronica Sanchez &copy; 2024
            </p>
        </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
</body>

</html>