<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juegos de mesa</title>
    <link rel="stylesheet" href="../Styles/styles.css" />
</head>

<body>

    <section class="banner">
        <div class="content-banner">
            <h2>DESAFIOS DE LA DSI</h2>
            <a href="#" class="grupo">Grupo 9</a>
        </div>
    </section>

    <main class="main-content">
        <section class="container container-features">
            <div class="card-feature">
                <i class="fa-solid fa-plane-up"></i>
                <div class="feature-content">
                    <span>Solidaridad</span>
                    <p>Compromiso con el bienestar de los demás y apoyo mutuo</p>
                </div>
            </div>
            <div class="card-feature">
                <i class="fa-solid fa-wallet"></i>
                <div class="feature-content">
                    <span>Justicia</span>
                    <p>Equidad en el trato y distribución de recursos y derechos.</p>
                </div>
            </div>
            <div class="card-feature">
                <i class="fa-solid fa-gift"></i>
                <div class="feature-content">
                    <span>Amor</span>
                    <p>Actitud de entrega y cuidado hacia los demás, promoviendo el bien común.</p>
                </div>
            </div>
            <div class="card-feature">
                <i class="fa-solid fa-headset"></i>
                <div class="feature-content">
                    <span>Dignidad</span>
                    <p>Valor intrínseco de cada persona, independientemente de su condición.</p>
                </div>
            </div>
        </section>

        <section class="container top-categories">
            <h1 class="heading-1">Juegos</h1>
            <div class="container-categories">
                <div class="card-category category-moca">
                    <p>CARTAS</p>
                    <a href="Cards_memory.html" class="text-decoration-none">Ver más</a>

                </div>
                <div class="card-category category-expreso">
                    <p>AHORCADO</p>
                    <a href="Ahorcado.html" class="text-decoration-none">Ver más</a>

                </div>
            
                <div class="card-category category-capuchino">
                    <p>FICHA INFORMATIVA</p>
                    <a href="Information.html" class="text-decoration-none">Ver más</a>

                </div>
                
                <div class="card-category category-extra">
                    <p>JUEGO ADICIONAL</p>
                    <a href="juegoExtra.html" class="text-decoration-none">Ver más</a>

                </div>
                
               
                
            </div>
        </section>


        <section class="gallery">
            <img src="../Images/img2.jpg" alt="Gallery Img1" class="gallery-img-1" /><img src="../Images/img3.jpeg"
                alt="Gallery Img2" class="gallery-img-2" /><img src="../Images/img4.jpg" alt="Gallery Img3"
                class="gallery-img-3" /><img src="../Images/img5.jpg" alt="Gallery Img4" class="gallery-img-4" /><img
                src="../Images/img6.jpg" alt="Gallery Img5" class="gallery-img-5" />

        </section>

        <h1 class="heading-1">Más acerca de la DSI</h1>
        <div class="contenedorvd">
            <iframe class="VideoDSI" src="https://www.youtube.com/embed/I9IzKxeCRjw"
                title="Qué es la Doctrina Social de la Iglesia (I)" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
            
            <iframe class="VideoDSI2" src="https://www.youtube.com/embed/Jd47jCwPzhc"
                title="Qué es la Doctrina Social de la Iglesia (II)" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
        <br><br><br><br>
        <section class="container blogs">
            <h1 class="heading-1">Integrantes</h1>

            <div class="container-blogs">
                <div class="card-blog">
                    <div class="container-img">
                        <img src="../Images/verooo.jpg" alt="Imagen Blog 1" />
                        <div class="button-group-blog">
                            <span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span>
                                <i class="fa-solid fa-link"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-blog">
                        <h3>Veronica Sanchez</h3>

                        <p>
                            Coordinadora, desarrollo el sitio web y uno de los juegos del DSI
                        </p>

                    </div>
                </div>
                <div class="card-blog">
                    <div class="container-img">
                        <img src="../Images/jimena.jpg" alt="Imagen Blog 2" />
                        <div class="button-group-blog">
                            <span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span>
                                <i class="fa-solid fa-link"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-blog">
                        <h3>Jimena Sandoval</h3>
                        <p>
                            Vocal 1, se encargo de realizar las investigaciones acerca del tema
                            asignado y los objetivos del juego
                        </p>

                    </div>
                </div>
                <div class="card-blog">
                    <div class="container-img">
                        <img src="../Images/MiVida.jpg" alt="Imagen Blog 3" />
                        <div class="button-group-blog">
                            <span>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <span>
                                <i class="fa-solid fa-link"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-blog">
                        <h3>Jeremy Castro</h3>
                        <p>Subcoordinador, desarrollo ficha informativa y uno de los juegos del DSI
                        </p>
                    </div>
                </div>
                <div class="contenedor"></div>
                <div class="container-img">
                    <img class="img4" src="../Images/will.jpg" alt="Imagen Blog 3" />
                    <div class="button-group-blog">
                        <span>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <span>
                            <i class="fa-solid fa-link"></i>
                        </span>
                    </div>
                </div>
                <div class="content-blog">
                    <h3>Wilfredo </h3>
                    <p>Vocal 2 encargado de realizar investigaciones y dar ideas acerca del juegos
                        y encargado de hacer las reglas
                    </p>

                </div>
                <br>
                <br>
                <br><br>
            </div>
            </div>
        </section>
    </main>

    <footer class="footer">



        <div class="copyright">
            <p>
                Desarrollado por Jeremy Castro y Veronica Sanchez &copy; 2024
            </p>
        </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
</body>

</html>