<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla informatica</title>
    <!-- Icono de la pagina  -->
    <link rel="icon" href="../Images/Icon/Icono.ico" type="image/x-icon">
    <!-- Estilo de la pagina  -->
    <link rel="stylesheet" type="text/css" href="../Styles/Style_information.css">
</head>

<body>

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="content">
        <div class="container">
            <h2>Los Principios de la Doctrina Social de la Iglesia.</h2>
        </div>
        <div class="containerInfo">
            <p>
                La doctrina social de la Iglesia es aquella enseñanza que nace del diálogo entre el Evangelio y la vida
                económico social de los pueblos.

                Esa doctrina busca iluminar las realidades terrenas y en ella se apoyan los pastores de la Iglesia
                Católica para orientar en estas materias.

                La doctrina social de la Iglesia tiene como centro la dignidad de la persona humana y busca en todo
                momento defenderla y dar principios que ayuden a su crecimiento, a su desarrollo.

                Son ellos los ejes claves de esta doctrina y son los ejes también para poder ayudar a todo ser humano a
                crecer, desarrollarse y progresar, como debe ser. Esos siete principios son los siguientes:

                <li>El principio del bien común.</li>
                <li>El destino universal de los bienes.</li>
                <li>El principio de subsidiaridad</li>
                <li>El principio de participación</li>
                <li>El principio de solidaridad</li>
                <li>El principio de los valores,fundamentalmente estos cuatro: la verdad, la libertad, la justicia, el
                    amor.</li>
                <li>el amor, es el valor principal, porque ha de ser el que dé UNIDAD a los
                    demás valores.</li>
            </p>
        </div>

        <div class="containerInfo2">
            <h3>El bien común:</h3>
            <p> El principio o el criterio del bien común es un principio fundamental en lo que es la vida humana y en
                lo que son las relaciones de los seres humanos. Para la doctrina social de la Iglesia el principio del
                bien común es el primero
                de todos los principios: todos los bienes que existen son bienes para todos los seres humanos.
            </p>
            <hr>
            <h3>El destino universal de los bienes:</h3>
            <p> El principio del bien común que guía la doctrina social de la Iglesia va muy unido al principio del
                destino
                universal de los bienes. Este principio nos recuerda a nosotros que todo cuanto existe tiene una
                dimensión universal. Nosotros hablamos del derecho de propiedad.
            </p>
            <hr>
            <h3>La subsidiaridad:</h3>
            <p> En la búsqueda del progreso y el desarrollo de toda persona humana, de todo ser humano, de su dignidad,
                hay un principio que no se tiene muchas veces en cuenta y que hay que recordarlo también con frecuencia
                y volver el pensamiento y la mirada hacia él. Es el principio de la subsidiaridad, palabra que no es
                fácil de pronunciar, pero que es sumamente importante.
            </p>
            <hr>
            <h3>La participación:</h3>
            <p> Otro principio claro en la doctrina social de la Iglesia es el principio de la participación. Es un
                tema sobre el que nosotros volvemos una y otra vez. La participación, como algo inherente al ser humano,
                hace parte de nuestra existencia.
            </p>
            <hr>
            <h3>La solidaridad:</h3>
            <p> La solidaridad es uno de los grandes principios, o si se quiere, uno de los grandes valores que más se
                trata en el mundo de hoy. Hemos venido muchas veces sobre esta temática y hay que volver continuamente
                sobre ella. La solidaridad nos esta mostrando a nosotros como la humanidad es una y cómo tiene que
                apoyarse mutuamente.
            </p>
            <hr>
            <h3>Valores fundamentales:</h3>
            <p> Los cuatro grandes valores son estos: La verdad, la libertad, la justicia y el amor.
            <p>
                La libertad, que nosotros los dominicanos disfrutamos después de tantas
                dictaduras, se torna también en desorden y en libertinaje cuando no la sabemos usar. La libertad se
                manifiesta en la democracia, pero necesitamos de una libertad sabiamente usada. Por eso, volver la mente
                y la mirada sobre la libertad, es clave, y sobretodo en estos tiempos en las que disfrutamos de la
                libertad, para no volver a las dictaduras, pero tampoco para que la libertad se vuelva para nosotros un
                enemigo. Y la dimensión de la justicia: si quieres la paz, trabaja por la justicia. Si nosotros queremos
                guardar las relaciones como debe ser, es clave y fundamental.
            </p>
            </p>
            <hr>
            <h3>La vía del amor:</h3>
            <p> El bien común, el destino universal de los bienes, la participación, la solidaridad, los valores de la
                verdad, la justicia y la libertad. Pero tenemos que decir que el vínculo que une todo esto es el amor.
                Sin amor, nosotros no podremos llegar a eso que deseamos: a una mayor distribución de las riquezas, a un
                mundo donde impere la verdad, la justicia, la libertad; donde los bienes realmente sean comunes, donde
                se busque el bien común.</p>
            <hr>
            <a href="Home.html"><button class="reset">Regresar al menu</button></a>
        </div>
    </div>
    </div>
</body>

</html>