/* Elementos y clases de la pagina */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


@font-face {
    font-family: mifuente2;
    src: url('../Fuentes/Happy\ Paradise.otf');
}

* {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #085e6d83;
    padding: 40px 60px;
    border-radius: 20px;
}

.containerInfo {
    margin-top: 20px;
    background: #bebebe63;
    padding: 40px 60px;
    border-radius: 20px;
}

.containerInfo2 {
    margin-top: 20px;
    margin-bottom: 500px;
    background: #bebebe63;
    padding: 40px 60px;
    border-radius: 20px;
}

p {
    font-size: 30px;
    color: #000000;
}

li {
    font-size: 30px;
    color: #000000;
}

h3 {
    font-size: 30px;
}

h2 {
    font-family: mifuente2;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}

html {
    height: 100%;
}

body {
    margin: 100;
}

/* Boton */
.reset {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.815);
    border: 2px solid rgba(223, 61, 255, 0.7);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.reset::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgba(223, 61, 255, 0.7);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.reset:hover::before {
    scale: 6;
}

.reset:hover {
    color: #ffffff;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.reset:active {
    scale: 1;
}

/* Estilo para el fondo */
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgba(186, 27, 218, 0.89) 50%, rgba(226, 81, 255, 0.726) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}


/* Cambia el estilo de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px;
    /* Ancho de la barra de desplazamiento */
}

/* Cambia el color de la pista de la barra de desplazamiento (fondo) */
::-webkit-scrollbar-track {
    background: rgb(218, 218, 218);
    /* Color de fondo */
    border-radius: 10px;
}

/* Cambia el color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #b86be3;
    /* Color de la barra */
    border-radius: 10px;
    /* Redondea los bordes de la barra */
    border: 2px solid transparent;
    /* Borde alrededor de la barra */
}

/* Cambia el color cuando se pasa el mouse por encima de la barra */
::-webkit-scrollbar-thumb:hover {
    background-color: #9236a1;
}