* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(#00000000, #00000000),
    url('https://img.freepik.com/vector-premium/diseno-fondo-dibujos-abstractos-planos_921039-23586.jpg');
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el fondo */
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #ff6ae6c7;
    padding: 40px 60px;
    border-radius: 10px;
    border: solid 2px black;
}

h2 {
    font-size: 3rem;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
@font-face {
    font-family: mifuente2;
    src: url('../Fuentes/Happy\ Paradise.otf');
 }
 h2{
    font-family: mifuente2;
 }

/* From Uiverse.io by gharsh11032000 */
.reset {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.reset::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(255, 3, 255);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.reset:hover::before {
    scale: 4;
}

.reset:hover {
    color: #ffffff;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.reset:active {
    scale: 1;
}


.game {
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    box-shadow: 15px 15px 30px #bebebe9c,
        -15px -15px 30px #b4b4b48f;
    transition: 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #e9e9e9;
    transform: rotateY(180deg);
    transition: 0.25s;
    border-radius: 10px;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #ff69ff;
    transition: 0.25;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    box-shadow: 15px 15px 30px #a70692de,
        -15px -15px 30px #c002a7cc;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
}

.boxOpen::after,
.boxMatch:after {
    transform: rotateY(180deg);
}


/* Estilo para el modal (fondo) */
.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo oscuro */
}

/* Contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* Centrado vertical y horizontal */
    padding: 100px;
    border: 1px solid #888;
    width: 70%;
    max-width: 700px;
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
}

/* Botón de cierre */
.close {
    color: #aaa;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #006e5c;
    text-decoration: none;
    cursor: pointer;
}

.reset2 {
    background-color: rgb(225, 158, 238);
    border-radius: 30px;
    padding: 15px;
    position: absolute; /* Posiciona el botón de forma absoluta */
    left: 20px; /* Distancia desde el borde izquierdo */
    top: 240px; 
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Añade transición */
}

.reset2:hover {
    background-color: rgba(223, 61, 255, 0.7); /* Color difuminado */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
}

@font-face {
    font-family: mifuente;
    src: url('../Fuentes/Anti\ Gravity\ Demo.ttf');
 }
 h3{
    font-family: mifuente;
 }
 